* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Noto Serif', serif;
}
/* NAVIGATION */
  nav {
    margin: 3% 0;
  }

/* HEADER */
header {
  margin: 5% 0;
}
header .card-img-top {
  width: 80%;
  margin: 0 auto;
}

/* SECTION / OUR WEB APPS */
section .apps-text {
  font-size: 1.3rem;
  line-height: 2rem;
}
.badge-img {
  width: 100%;
}

/* SECTION / BESTSELLER */
.bestseller .quote {
  font-size: 1.3rem;
  color:rgb(153, 152, 150);
}

/* FOOTER*/
p.title {
 color:#fa3737;
}
footer a {
  display: block;
  margin: 15px 0;
  font-size: 1.2rem;
}

p.copyright {
  color:#959595;
  margin: 7% 0;
}

p.copyright a {
  display: inline;
  font-size: 0.9rem;
  }

/* MEDIA QUERY */
@media(max-width: 653px) {
  .nav {
    display: block;
    text-align: center;
  }
}
@media(max-width: 463px) {
  h2 {
    font-size: 1.3rem;
  }
  section p.apps-text {
    font-size: 1rem;
  }
  p.copyright a {
    display: block;
    font-size: 0.9rem;
    }
}
