* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Noto Serif', serif;
}
/* NAVIGATION */
  nav {
    margin: 3% 0;
  }

/* HEADER */
header {
  margin: 5% 0;
}
header .card-img-top {
  width: 80%;
  margin: 0 auto;
}

/* SECTION / OUR WEB APPS */
section .apps-text {
  font-size: 1.3rem;
  line-height: 2rem;
}
.badge-img {
  width: 100%;
}

/* SECTION / BESTSELLER */
.bestseller .quote {
  font-size: 1.3rem;
  color:rgb(153, 152, 150);
}

/* SECTION / MORE ABOUT */
 .more-about p {
   color:#fa3737;
 }
